<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="errorFile" xsi:type="File" fileName="error.log"
                layout="${date} |${uppercase:${level}}| [${logger}] ${message} ${exception:format=ToString}" />
		<target name="infoFile" xsi:type="File" fileName="info.log"
                layout="${date} |${uppercase:${level}}| [${logger}] ${message} ${exception:format=ToString}" />
		<target name="argumentFile" xsi:type="File" fileName="argument.log"
                layout="${date} |${uppercase:${level}}| [${logger}] ${message} ${exception:format=ToString}" />
		<target name="logconsole" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="*" minlevel="Warn" writeTo="errorFile" />
		<logger name="*" minlevel="Info" writeTo="infoFile" />
		<logger name="ArgumentLogger" minlevel="Debug" writeTo="argumentFile" final="true" />
		<logger name="*" minlevel="Info" writeTo="logconsole" />
	</rules>
</nlog>